
body {
    font-family: "Fire Sans", Geneva, Tahoma, sans-serif;
    font-size: 80%;
    background-color: whitesmoke;
    width: 960px;
    margin: 0 auto;
}
.navigation{
    padding: 10px;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    width: 960px;
    border: 2px solid #417367;
    background-color: #417367;
    color: white;
    text-align: center
}
li{
    display: inline;
    margin: 0 3px;
    padding-right: 40px;
    font-size: large;
}
main {
    margin-top: 100px;
}
h1 {
    text-align: center;
    background-color: #9ECAC4;
}
h2 {
    margin-top: 40px;
    font-family: "Nunito" sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    background-color: #A1BF84;
}
.colours {
    border: 3px solid #B5709E;
    width: 940px;
    color: black;
    font-weight: bold;
    float: left;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.color1{
    background-color: #143C4A;
    color: white;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.color2{
    background-color: #A1BF84;
    color: black;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.color3{
    background-color: #B5709E;
    color: white;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.color4{
    background-color: #9ECAC4;
    color: black;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.color5{
    background-color: #417367;
    color: white;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
h3 {
    text-decoration: underline;
}
.fonts{
    border: 3px solid #417367;
    width: 940px;
    margin: 5px;
    padding: 5px;
    float: left;
    justify-content:space-evenly;
    font-size:medium;
    display: block;
}
.FiraSans{
    font-family: 'Fira Sans', sans-serif;
    width: 290px;
    float: left;
    height: 200px;
    margin: 5px;
    padding: 5px;
}
.Nunito{
    font-family: 'Nunito', sans-serif;
    width: 290px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    float: left;
}
.SourceSansPro{
    font-family: 'Source Sans Pro', sans-serif;
    width: 290px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    float: left;
}
.bold {
    font-weight: 700;
}
.italic {
    font-weight: 400;
    font-style: italic;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}
.h1heading {
    padding-top: 20px;
    background-color: #9ECAC4;
    font-family: "Fira Sans";
    font-size: 32px;
    font-weight: bolder;
    text-decoration: none;
    text-align: left;
    border: ;
}
.h2heading {
    padding-top: 20px;
    background-color: #A1BF84;
    font-family: "Nunito" sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    text-align: left;
}
.pheading {
    padding-top: 20px;
    background-color: lightcyan;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    font-weight:normal;
    text-decoration: none;
    text-align: left;
}
.text-styles {
    display: block;
    clear: left;
}
.stylesbox{
    border: 2px solid #417367;
}