
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
}
.navigation{
    padding: 10px;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    width: 960px;
    border: 2px solid #417367;
    background-color: #417367;
    color: white;
    text-align: center
}
li{
    display: inline;
    margin: 0 3px;
    padding-right: 40px;
    font-size: large;
}
main {
    margin-top: 100px;
}
h1 {
    text-align: center;

}
h2 {
    margin-top: 40px;

}
.colours {
    border: 3px solid #B5709E;
    width: 960px;
    color: black;
    font-weight: bold;
    float: left;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.color1{
    background-color: #143C4A;
    color: white;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.color2{
    background-color: #A1BF84;
    color: black;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.color3{
    background-color: #B5709E;
    color: white;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.color4{
    background-color: #9ECAC4;
    color: black;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.color5{
    background-color: #417367;
    color: white;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.fonts{
    border: 3px solid #417367;
    width: 960px;
    float: left;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-basis: 33.3%;
    justify-content:space-evenly;
    font-size:medium;
}
}
.FiraSans{
    font-family: 'Fira Sans', sans-serif;
    width: 200px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.Nunito{
    font-family: 'Nunito', sans-serif;
    width: 200px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.SourceSansPro{
    font-family: 'Source Sans Pro', sans-serif;
    width: 200px;
    height: 150px;
    margin: 5px;
    padding: 5px;
    display: inline;
}
.bold {
    font-weight: 700;
}
.italic {
    font-weight: 400;
    font-style: italic;
}